<div class="menu-content">
  <section class="all">

    <h3>All Tasks</h3>
    <div class="menu">
      <a href="#/all/priority">By Priority</a>
      <!-- <br>
      <a href="#/all/duedate">By Due Date</a> -->
    </div>
  </section>
  <section class="projects">
    <h3>All Projects</h3>
    <div class="projects content">
    </div>
</div>