<div class="container-fluid">
  <div id="menu" class="span3"></div>

  <div id="content">
    <div id="sidebar"></div>
  </div>
</div>
<script type="text/javascript" id="projects">
$(function () {
  DropTask.initialize(
    $("#content"),
    $("#menu"),
    {
      projects: <%= @projects.to_json.html_safe %>,
     }
  );
});
</script>