<div id="menu">
</div>

<div id="content">
</div>


<script type="text/javascript" id="projects">
$(function () {
  DropTask.initialize(
    $("#content"),
    $("#menu"),
    { projects: <%= @projects.to_json.html_safe %> }
  )

})

</script>