<div id="menu" class="span2"></div>
<div id="content" class="offset2 span10">
  <div id="sidebar"></div>
</div>

<script type="text/javascript" id="projects">
$(function () {
  DropTask.initialize(
    $("#content"),
    $("#menu"),
    {
      projects: <%= @projects.to_json.html_safe %>,
     }
  );
});
</script>