<div id="menu"></div>

<div id="content"></div>


<div id="sidebar"></div>


<script type="text/javascript" id="projects">
$(function () {
  DropTask.initialize(
    $("#content"),
    $("#menu"),
    $("#sidebar"),
    {
      projects: <%= @projects.to_json.html_safe %>,
      tasks: <%= @projects.flat_map(&:groups)
                   .flat_map(&:tasks)
                   .to_json.html_safe %>
     }
  );
})

</script>