<div class="tasks-view">
  <div id="tasks-header">
  </div>
  <% collection.each(function(task) { %>
    <div class="task">
      <a id="taskShow" href="#" data-id="<%= task.id %>">
        <%= task.escape("title") %>
      </a>
    </div>
  <% })%>
</div>