<div class="tasks by-priority">
  <h2>All Tasks By Priority</h2>

  <div class="very-high-priority">
    <h3>Very High</h3>
  </div>

  <div class="high-priority">
    <h3>High</h3>
  </div>

  <div class="none-priority">
    <h3>None</h3>
  </div>
</div>