/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#title {
  padding-left: 50%;
}

#user-info {
  float: left;
  width: 200px;
  height: 100%;
}

#menu {
  position: absolute;
  width: 200px;
  height: 90%;
  float: left;
  overflow: scroll;
}

#content {
  padding-left: 250px;
  float: left;
}

#sidebar {
  right: -300px;
  width: 300px;
  position: fixed;
  display: block;
}

.groups-view {
  height: 90%;
  width: 90%;
}

#group-view-container {
  position: absolute;
  height: 90%;
  width: 75%;
  border: 1px solid;
  overflow: scroll;
}

#group-view-content {
  width: 1500px;
  height: 1500px;
}

.group-circle {
  text-align: center;
  position: relative;
  width: 500px;
  height: 500px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  border-radius: 250px;
  border: 1px solid;
  z-index: 0;
}

.task-circle {
  width: 100px;
  height: 100px;
  position: static;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid;
  z-index: 1;
}

#new-group {
  float: right;
}

.modal > form {
    margin-bottom: 0;
}